body
{
    padding: 2px;
   background-image: url("../images/doodle.jpg");

}
nav
{
    float: right;
    display: flex;
    top: 75px;
    left: 150px;
}

a
{
    color: white;
    font-size: 1.5rem;
}
a:hover
{
    color: red;
}
.img
{
    margin-top:-5%;
    clip-path: polygon(51% 0, 100% 50%, 50% 100%, 0% 50%);
}
h1{
    color: white;
    text-align: center;
    transform: translateY(-600%);
    font-size: 500%;

}
button
{
    width: 100%;
}


.ml3 {
    font-weight: 900;

  }